** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}


.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #e68900;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), 
                url("fadil.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    margin-top: 80px;
}

.hero h1 {
    font-size: 3.4rem;
    margin-bottom: 15px;
    text-shadow: 0 3px 10px white;
}



.hero p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    opacity: 0.9;
}

#cta-btn {
    background: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

#cta-btn:hover {
    background: #e68900;
    color: white;
    transform: scale(1.05);
}

/* ABOUT - SERVICES */
.about, .services {
    padding: 80px 10%;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: 15px auto;
    opacity: 0.85;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 30px;
    width: 260px;
    border-radius: 15px;
    transition: 0.4s;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-10px);
    border-color: #e68900;
    box-shadow: 0 8px 25px rgba(255,165,0,0.2);
}

/* Responsive */
@media (max-width: 768px) {
    .hero h1 { font-size: 2.4rem; }
    .cards { flex-direction: column; align-items: center;
    }
}
/* ANGGOTA SECTION */
.anggota {
    padding: 80px 10%;
    text-align: center;
}

.anggota h2 {
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid white;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.06);
    border-color: white;
} 
.container-footer {
    height: 10vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
